@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito);
  --font-mono: var(--font-geist-mono);

  --color-govblue-900: #0b1b4d;
  --color-govblue-700: #072577;

  --color-govorange-500: #e54825;
  --color-govorange-600: #c93a1a;

  --color-govgray-50: #f7f7f9;
  --color-govgray-300: #cccccc;
  --color-govgray-700: #333333;

  --color-govpink-50: #fdebec;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
}
